info-cards-create {
    width: 100%;
    overflow-y: scroll;
    .create-info-card{
        padding: 60px;

        .tags{
            margin-bottom: 25px;
        }

        .create-button{
            color: white !important;
            font-weight: bold;
            margin-top: 30px;
        }
    }
    .table-card{
        padding: 0;
        margin-top: 35px;

        md-list{
            padding: 0;
        }
    }
    md-list-item{
        &.table-header{
            font-weight: bold;
            background-color: #f7f7f7;
            height: 70px;
        }
    }

    .documents {
        margin-bottom: 35px;
    }
}

