.main-sidenav{
    md-list{
        padding: 0;

        md-list-item{
            &.active{
                background: #ddd;
            }

            &.disabled {
                color: lightgrey;

                md-icon {
                    color: lightgrey;
                }
            }
        }
    }
}

