<md-content layout-padding layout="row" class="info-cards" layout-wrap flex>
    <div flex="100" layout-align="end" layout="row">
        <md-button class="md-fab md-primary add-button" ui-sref="create" aria-label="Add">
            <md-icon>add</md-icon>
        </md-button>
    </div>
    <md-card flex="100" class="table-card">
        <md-list>
            <md-list-item layout="row" class="table-header">
                <span flex="5">Nr.</span>
                <span flex="40">Titulli</span>
                <span flex="20">Kategoria</span>
                <span flex="20">Nenkategoria</span>
                <span flex="15" >
                    Veprime
                </span>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-repeat="card in $ctrl.infoCards">
                <span flex="5">{{$index + 1}}</span>
                <span flex="40">{{card.title}}</span>
                <span flex="20">{{card.category}}</span>
                <span flex="20">{{card.subcategory}}</span>
                <span flex="15">
                     <md-button class="md-icon-button" ng-click="$ctrl.deleteCard(card._id)">
                        <md-icon>delete</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ui-sref="edit({infocardId: card._id})">
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </span>
               
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-card>
    
</md-content>