auth {
  width: 100%;
  .login {
    width: 512px;
    padding: 40px;
    background: white;
  }
  md-input-container{
    width: 100%;
  }

  .heading {
    color: #929497;
    text-align: center;
  }

  .error {
    color: #EA4335;
  }

  #login-btn {
    color: white;
    font-weight: bold;
  }
}
