profile {
  width: 100%;
  .profile-card {
    width: 512px;
    background: white;
    padding: 40px;
  }

  h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .white-btn{
    padding: 10px 20px;
  }

}
